@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

body {
  @apply bg-primary/5;
}

.custom_margin {
  @apply mt-[70px];
}

.padding-container {
  @apply px-[5%] md:px-20 py-10;
}

.pet_img_container {
  @apply h-[120px] w-[120px] rounded-full relative overflow-hidden border border-[#d3d3d3];
}

.pet_detail_title {
  @apply text-lg font-medium text-black/80 leading-none;
}

.pet_detail {
  @apply text-xl text-black font-bold leading-none;
}

.login_input_container {
  @apply bg-white border-2 border-black/30 rounded-md px-2 py-1 flex flex-row items-center gap-2;
}

.sign_up_input {
  @apply bg-white border-2 border-black/30 rounded-md px-2 py-1 items-center gap-2;
}

input {
  outline: none;
  background-color: transparent;
}

.input_with_label {
  @apply flex flex-col;
}

.input_label {
  @apply text-black text-base font-semibold;
}

.btnStyle {
  @apply px-3 py-[5px] text-white text-lg font-bold flex items-center justify-center rounded-lg bg-primary;
}

.navBtnStyle {
  @apply px-3 py-2 text-white text-lg font-bold flex items-center justify-center rounded-lg bg-primary;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.max_width {
  @apply max-w-[1440px] mx-auto;
}

.regiter_form_container {
  @apply flex flex-row shadow-lg bg-white rounded-md max-w-[450px] w-full justify-center items-center h-fit p-[5%] sm:px-16 py-5;
}

.darkbg {
  @apply bg-black/[.5] fixed z-30 h-screen w-screen top-0 left-0 flex justify-center items-center;
}
